
            <div class="form-group form-group-lg">
                    <div class="col-xs-12">
                            <input class="form-control" type="text" id="formGroupInputLarge" placeholder="search word">
                            <p>&nbsp;</p>
                            <button type="button" class="btn btn-primary _s" data-url="https://www.baidu.com/s?wd=">百度一下</button>&nbsp;
                            <button type="button" class="btn btn-success _s" data-url="https://www.so.com/s?q=">360搜索</button>&nbsp;
                            <button type="button" class="btn btn-info _s" data-url="https://www.google.com/search?q=">Google搜索</button>
                    </div>
            </div>

