<!-- Fixed navbar -->
{{$truePath:=.RelPermalink }}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="
navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ .Site.Title }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {{ if eq .RelPermalink "/"}}  class="active" {{end}}><a href="/">Home</a></li>
            
      
            {{ range .Site.Data.nav.navData.nav }}
    
            <li {{ if strings.HasPrefix $truePath .curr}} class="active" {{end}} ><a href="{{ .url }}">{{ .name }}</a></li>
            {{ end }}
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分组 <span class
="caret"></span></a>
              <ul class="dropdown-menu">
	            {{ range .Site.Data.nav.navData.group }}
	            <li><a href="{{ .url }}" class="{{.class}}" >{{ .name }}</a></li>
	            {{ end }}
             </ul>
            </li>

            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

